{% extends 'base.html' %}

{% block Visuals %}
  <div class='collapsStyle'>
    <ui-switch > <span class='optionTxt'> Turn on processing </span> </ui-switch>
    <ui-switch > <span class='optionTxt'> img proc 1 </span> </ui-switch>
    <ui-switch > <span class='optionTxt'> img proc 2 </span> </ui-switch>
    <ui-switch > <span class='optionTxt'> img proc 3 </span> </ui-switch>
    <ui-switch > <span class='optionTxt'> img proc 4 </span> </ui-switch>
    <ui-slider show-marker snap-to-steps :step='10'></ui-slider>
  </div>

{% endblock %}

{% block Audio %}
  
  <div class='collapsStyle'>
    <span class='optionTxt'> Tutaj coś będzie</span>
  </div>

{% endblock %}

{% block Features %}
  <div class='collapsStyle'>
    <ui-switch> <span class='optionTxt'>Turn on laser </span></ui-switch>
    <ui-switch> <span class='optionTxt'>Turn on flashlight</span> </ui-switch>
    <ui-switch> <span class='optionTxt'>Generate simple sound </span> </ui-switch>
  </div>
{% endblock %}

{% block Options %}
  <div class='collapsStyle'>
    <ui-button raised> <span class='optionTxt'> Run diagnostics </span> </ui-button>
    <ui-switch color='accent'> <span class='optionTxt'> Tu też coś będzie </span> </ui-switch>
  </div>
{% endblock %}

{% block stats %}
  <div class='collapsStyle'>
    <ui-button raised> <span class='optionTxt'> Pretty print </span> </ui-button>
    <p id='temperature'> <span class='optionTxt'> Temperature </span> </p>
    <p id='CPUusage'>  <span class='optionTxt'>  CPU usage  </span>  </p>
  </div>
{% endblock %}
